<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Orpheus</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">About</a></li>

      <span class="icon-container"> <a href="#"><img src="icon.png" alt="Icon" class="right"></a>
      </span>

    </ul>
  </nav>

  <section class="hero">
    <h1 class="orpheus">ORPHEUS</h1>
    <div class="image-container">
      <img src="l2.jpg" alt="hero image" id="hero-image">
      <img src="blues1.jpg" alt="hover image" id="hover-image" style="display: none;" />
      <img src="classic1.jpg" alt="hover image2" id="hover-image2" style="display: none;" />
     <a href="/blues" ><button id="blues_button" class="button-49">Blues</button> </a>
     <a href="/classical"><button id="classic_button" class="button-49">Classical</button> </a>
    </div>
    <h3>Create AI generated melodies that elevate your songs</h3>
      <!--Scrolling Bar effect-->

  </section>

<script src="script.js" ></script>
</html>